{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}






{% block content %}

    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>TRBUŠNI ZID</h2>
                        <div class="bt-option">
                            
                            <a class = "active_nav" href="{% url 'core' %}">NAZAD</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    

    
    
    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <span>Četvrti program</span>
                        <h2>Trajanje: Jedna sedmica</h2>
                    </div>
                </div>
                
            </div>

            
    
            <!-- PONEDJELJAK -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Ponedjeljak</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                   
                              
                            </thead>
                            <tbody>
                                
                                {% for i in ponedjeljak %}
                                <tr>

                                    
                                    
                                        

                                        <td class="class-time">

                                            
                                            <div class = "wrapper">
                                                <div class = "btn">
                                                    <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>
                                                </div>
                                            </div>

                                                                                
                                        </td>
                                        
                                        <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                            <h5>{{i.vjezbe}}</h5>
                                        
                                            
                                        </td>
                                        <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                            <h5>{{i.serije}}</h5>
                                            
                                            
                                        </td>
                                        <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                            <h5>{{i.ponavljanja}}</h5>
                                        
                                            
                                    
                                        
                                            <td class="class-time">
                                                <div class="tasks">
                                                    <label class="checkbox">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            
                                        </td>
                                        
                                        
                                    
                                        
                                                        
                                     
                                        
                                   
                                    
                                </tr>
                                {% endfor %}
                        
                            
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    
    

   
    

    <!-- UTORAK -->
    <section class="class-timetable-section spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Utorak</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                
                                </tr>
                              
                            </thead>
                            <tbody>
                                
                                {% for i in utorak %}
                                

                                <tr>
                                    <td class="class-time">
                                        <div class = "wrapper">
                                            <div class = "btn">
                                                <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>                                        </div>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.vjezbe}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.serije}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.ponavljanja}}</h5>





                                        
                                        
                                        <td class="class-time">

                                            <div class="tasks">
                                                <label class="checkbox">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div> 
                                            
                                        </td>

                                        
                                        
                                    </td>
                                  
                                    
                                        
                                        
                                 
                                   
                                </tr>


                                {% endfor %} 
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    
    <!-- SRIJEDA-->

    <section class="class-timetable-section spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Srijeda</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                   
                              
                            </thead>
                            <tbody>
                                
                                {% for i in srijeda %}
                            
                                <tr>
                                    <td class="class-time">

                                        <div class = "wrapper">
                                            <div class = "btn">
                                                <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.vjezbe}}</h5>
                                      
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.serije}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.ponavljanja}}</h5>
                                        
                                    
                                        <td class="class-time">
                                            <div class="tasks">
                                                <label class="checkbox">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        
                                    </td>

                                         
                                   
                                   
                                </tr>

                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PROGRESS BAR -->
    <br>

    <div class="progress-bar-četvrti-core">
        <span class="progress"></span>
    </div>

    <!--ČETVRTAK-->

    <section class="class-timetable-section spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Četvrtak</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                   
                              
                            </thead>
                            <tbody>
                                
                                {% for i in cetvrtak %}
                            
                                <tr>
                                    <td class="class-time">

                                        <div class = "wrapper">
                                            <div class = "btn">
                                                <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.vjezbe}}</h5>
                                      
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.serije}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.ponavljanja}}</h5>
                                        
                                    
                                        <td class="class-time">
                                            <div class="tasks">
                                                <label class="checkbox">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        
                                    </td>

                                         
                                   
                                   
                                </tr>


                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--PETAK-->

    <section class="class-timetable-section spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Petak</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                   
                              
                            </thead>
                            <tbody>
                                

                                {% for i in petak %}
                                <tr>
                                    <td class="class-time">
                                        <div class = "wrapper">
                                            <div class = "btn">
                                                <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.vjezbe}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.serije}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.ponavljanja}}</h5>



                                        
                                    
                                        <td class="class-time">
                                            <div class="tasks">
                                                <label class="checkbox">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        
                                    </td>


                                    
                                    
                                   
                                   
                                </tr>


                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!--Subota-->

    <section class="class-timetable-section spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Subota</th>
                                    <th >Vježbe</th>
                                    <th >Serije</th>
                                    <th >Ponavljanja</th>
                                    <th ></th>
                                   
                              
                            </thead>
                            <tbody>
                                
                                
                                <tr>


                                    {% for i in subota %}

                                    <td class="class-time">
                                        <div class = "wrapper">
                                            <div class = "btn">
                                                <a href="#" onClick="MyWindow=window.open('{{i.gif.url}}','MyWindow','width=1400,height=600,position=relative' ); return false;"><button type = "button">POKRENI</button></a>
                                        </div>
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.vjezbe}}</h5>
                                    
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.serije}}</h5>
                                        
                                        
                                    </td>
                                    <td class="dark-bg hover-bg ts-meta" data-tsmeta="workout">
                                        <h5>{{i.ponavljanja}}</h5>


                                        
                                     
                                    
                                        <td class="class-time">
                                            <div class="tasks">
                                                <label class="checkbox">
                                                  <input type="checkbox">
                                                  <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        
                                    </td>

                                    
                                   
                                </tr>

                                {% endfor %}
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

          

    <!--NEDJELJA-->

    <section class="class-timetable-section spad">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable">
                        <table>
                            <thead>
                                
                                <tr>
                                    
                                    <th >Nedjelja</th>
                                    <th ></th>
                                    <th ></th>
                                    <th >ODMOR</th>
                                    <th ></th>
                                    
                                </tr>
                              
                            </thead>
                            <tbody>

                                <td class="class-time"></td>
                                <td class="class-time"></td>
                                <td class="class-time"></td>
                                <td class="class-time"></td>
                                <td class="class-time"></td>


                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>  


{% endblock %}