{% extends 'base.html' %}
{% load static %}

{% block title %} O nama {% endblock %}

{% block content %}



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2 class = "test">O nama</h2>
                    <div class="bt-option">
                        <a href="{% url 'index' %}">Naslovna</a>
                        <span>O nama</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Zašto baš mi?</span>
                    <h2>POMJERITE SVOJE GRANICE</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Moderna oprema</h4>
                    <p>Vježbe usklađene po najmodernijim standardima.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Plan ishrane</h4>
                    <p>Ishrana predstavlja najbitniju komponentu zdravog načina života, te samo adekvatan i Vama prilagođen plan ishrane Vas može dovesti do željenog cilja.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Profesionalan plan treninga</h4>
                    <p>Izaberite specijalno definisan trening adekvatan za Vašu tjelesnu građu.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Unikatan pristup</h4>
                    <p>Zajedno sa nama možete probiti sve svoje barijere, izvući maksimum iz svog tijela i postati najbolja verzija sebe. U radu sa klijentima pristupamo holistički, trening i plan ishrane prilagođavamo Vašem načinu života i zdravstvenom stanju. Naš program – Vaši rezultati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->

<!-- About US Section Begin -->
<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="about-video set-bg" data-setbg="{% static 'website/img/about-us.jpg' %}">
                    <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                            class="fa fa-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>O nama</span>
                        <h2>Šta nudimo?</h2>
                    </div>
                    <div class="at-desc">
                        <p>Kreirali smo metode za zdrav način življenja i vježbanja za rekreativce, vrhunske sportiste i profesionalce. Trening programi koji će vas motivisati da ne odustajete od svojih ciljeva.
                            Praćenje napretka i mogućnost korištenja svih dostupnih trening programa. Mogućnost gledanja svake vježbe prije izvođenja.
                        </p>
                    </div>
                    <div class="about-bar">
                        <div class="ab-item">
                            <p>Body building</p>
                            <div id="bar1" class="barfiller">
                                <span class="fill" data-percentage="80"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Yoga</p>
                            <div id="bar2" class="barfiller">
                                <span class="fill" data-percentage="85"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Fitness</p>
                            <div id="bar3" class="barfiller">
                                <span class="fill" data-percentage="75"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About US Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Naš tim</span>
                        <h2>Trenirajte sa ekspertima</h2>
                    </div>
                    <a href="{% url 'loginRegistracija' %}" class="primary-btn btn-normal appoinment-btn">Aktiviraj članstvo</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="{% static 'website/img/team/team-1.jpg' %}">
                        <div class="ts_text">
                            <h4>Natalie Portman</h4>
                            <span>Yoga trener</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="{% static 'website/img/team/team-2.jpg' %}">
                        <div class="ts_text">
                            <h4>Geoffrey Kondogbia</h4>
                            <span>Trener</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="{% static 'website/img/team/team-3.jpg' %}">
                        <div class="ts_text">
                            <h4>Marco Reus</h4>
                            <span>Trener</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="{% static 'website/img/team/team-6.jpg' %}">
                        <div class="ts_text">
                            <h4>Jessica Alba</h4>
                            <span>Yoga</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="{% static 'website/img/banner-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>Registrujte se za više detalja</h2>
                    <div class="bt-tips">ZDRAVLJE I DOBAR IZGLED UVIJEK NA PRVOM MJESTU.</div>
                    <a href="{% url 'register' %}" class="primary-btn  btn-normal">Registrujte se</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Iskustva</span>
                    <h2>Our cilent say</h2>
                </div>
            </div>
        </div>
        <div class="ts_slider owl-carousel">
            <div class="ts_item">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ti_pic">
                            <img src="{% static 'website/img/testimonial/testimonial-1.jpg' %}" alt="">
                        </div>
                        <div class="ti_text">
                            <p>Programi koje koristim u potpunosti su promijenili moje navike.<br /> puno bolje se osjećam. Moje prehrambene navike 
                                su se promijenile. Živim potpuno <br /> novi život.</p>
                            <h5>Lana</h5>
                            <div class="tt-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ts_item">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ti_pic">
                            <img src="{% static 'website/img/testimonial/testimonial-2.jpg' %}" alt="">
                        </div>
                        <div class="ti_text">
                            <p>Stekla sam sasvim nove poglede na vježbanje.<br /> Nisam imala naviku da redovno vježbam
                                ali sam uz programe naučila <br /> spontano da se organizujem. </p>
                            <h5>Una</h5>
                            <div class="tt-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->


{% endblock %}