{% extends 'base.html' %}
{% load static %}

{% block title %} BMI kalkulator {% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>BMI kalkulator</h2>
                        <div class="bt-option">
                            <a href="{% url 'index' %}">Naslovna</a>
                            <span>BMI kalkulator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- BMI Calculator Section Begin -->
    <section class="bmi-calculator-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title chart-title">
                        <span>Index tjelesne mase</span>
                        <h2>BMI Tabela</h2>
                    </div>
                    <div class="chart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Bmi</th>
                                    <th>Vaš status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="point">Below 18.5</td>
                                    <td>Pothranjeni ste.</td>
                                </tr>
                                <tr>
                                    <td class="point">18.5 - 24.9</td>
                                    <td>Imate normalnu tjelesnu težinu.</td>
                                </tr>
                                <tr>
                                    <td class="point">25.0 - 29.9</td>
                                    <td>Imate povišenu tjelesnu težinu.</td>
                                </tr>
                                <tr>
                                    <td class="point">30.0 - i iznad</td>
                                    <td>Spadate u skupinu gojaznih osoba</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-title chart-calculate-title">
                        <span>Index tjelesne mase</span>
                        <h2>Izračunajte Vaš BMI</h2>
                    </div>
                    <div class="chart-calculate-form">
                        <p>Vaš body mass index iznosi: {{result}}</p>
                        <form action="racun">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Visina / cm" name = "num1">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Težina / kg" name = "num2">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Godine" name = "godine">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Spol" name = "spol">
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit">Izračunaj</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BMI Calculator Section End -->

    
{% endblock %}