{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock %}
{% block content %}




    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Šta nudimo?</h2>
                        <div class="bt-option">
                            <a href="{% url 'index' %}">Home</a>
                            <span>Usluge</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Čime se bavimo?</span>
                        <h2>Ispunite svoje ciljeve</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="{% static 'website/img/services/services-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Individualni treninzi</h4>
                        <p>Treninzi detaljno osmišljeni i organizovani tako uz preporuke vrhunskih stručnjaka.</p>
                   
                    </div>
                </div>
                <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="{% static 'website/img/services/services-2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>Yoga sesije</h4>
                        <p>Većina vježbi je jednostavna i moći ćete ih izvesti bez obzira na starosnu dob i razinu kondicije, vježbajte do granice ugodnog, onoliko koliko možete - tijelo će samo postaviti granice. </p>
                      
                    </div>
                </div>
                <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="{% static 'website/img/services/services-4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Vidljivi rezultati</h4>
                        <p>Tempo treninga i redovan način vježbanja će ostaviti na vas nevjerovatan učinak.</p>
                   
                    </div>
                </div>
                <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                    <div class="ss-pic">
                        <img src="{% static 'website/img/services/services-3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                    <div class="ss-text second-row">
                        <h4>Trening snage</h4>
                        <p>Dizajniran je za ciljanje svih glavnih i manjih mišićnih skupina, omogućujući maksimaliziranje hipertrofije (procesa izgradnje mišića) korištenjem progresivnog otpora.</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="{% static 'website/img/banner-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text service-banner">
                        <h2>Fokusirajte se na vlastite mogućnosti!</h2>
                        <div class="bt-tips">Uklopite tjelesnu aktivnost u svakodnevni život.</div>
                        <a href="https://www.youtube.com/watch?v=FO3aglziCxE" class="play-btn video-popup"><i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section service-pricing spad">
        <div class="container">
            
            
               
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->


{% endblock %}