{% extends 'base.html' %}
{% load static %}




{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2 >YOGA</h2>
                        <div class="bt-option">
                            
                            <a href="{% url 'program_yoga' %}">PROGRAM</a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <br>
                        <br>
                        <span>Yoga</span>
                        <br>
                        <h2>Informacije o treningu</h2>
                        
                        
                        <br>
                        <br>
                        
                        <p>Yoga se može praktikovati na bilo kojoj lokaciji, nezavisno o vremenskim uslovima, što je idealno za ljude koji nemaju mnogo slobodnog vremena za naporne i dugotrajne fitness programe. Mnoge su koristi od prakticiranja yoge - razvija snagu, poboljšava tonus mišića, fleksibilnost, držanje, sklad pokreta reducira stres i napetost, gradi samopouzdanje, poboljšava koncentraciju i kreativnost, utječe na snižavanje masnoća u krvi, poboljšava cirkulaciju, stimulira imunološki sustav. Pogoduje u uspostavljanju ravnoteže, kordinacije i koncentracije, te ponajviše u postizanju osjećaja mira i opuštenosti. Brojnim istraživanjima došlo se do spoznaja o njenim blagodatima za fizičko i mentalno zdravlje.</p>
                        <p>Iako većina ljudi počne praktikovati yogu samo iz znatiželje, s ciljem povećanja fleksibilnosti ili relaksacije - za mnoge od njih yoga s vremenom postane mnogo više od tjelovježbe, ona postane sredstvo emocionalnog rasta i razvoja.</p>
                        <p>Koncept programa namijenjen je prvenstveno zaposlenim muškarcima i ženama srednjih godina koji se svakodnevno bore sa stresom i brzim tempom života, jer pomaže u ublažavanju napetosti i nervoze, glavobolje, bolova u leđima - karakterističnim tegobama modernog doba</p>
                        <p>Većina vježbi je jednostavna i moći ćete ih izvesti bez obzira na starosnu dob i razinu kondicije, a za one teže vrijedi pravilo - vježbajte do granice ugodnog, onoliko koliko možete - tijelo će samo postaviti granice. Važno da nitko od polaznika ne radi preko svojih mogućnosti. S vremenom ćete postati postati fleksibilniji i imati više snage i kondicije, pa ćete i te komplikovanije vježbe moći lakše izvesti.</p>
                        <p>Predstavit ćemo Vam neke osnovne vježbe koje bez teškoće možete izvesti i u svome domu.</p>
                        <br>
                        <br>
                    
                      
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>




    



{% endblock %}